body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
    list-style-type: none;
  margin-right: 24px;
}

.current {
  text-decoration: underline;
  text-decoration-color: #e8797f;
  text-decoration-thickness: 2px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

#hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero{
    display: flex;
    font-size: 30px;
    margin-bottom: 16px;
    gap: 100px;
}

#courses-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

#courses-section li {
    font-size: 15px;
    list-style-type: disc;
}

form {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

form h2 {
  font-size: 30px; 
  margin-bottom: 20px;
}

label {
  display: block; 
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="submit"] {
  background-color: #636161;
  width: 100px;
  height: 30px;
  border: none;
  color: white;
  cursor: pointer; 
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
